h1,
h2 {
  color: white;
  text-align: left; /* Alinea el texto a la izquierda */
}

body {
  background: radial-gradient(circle, #2f3b4f 0%, #000000 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea los elementos hijos a la izquierda */
  justify-content: flex-start; /* Alinea los elementos hijos arriba */
  padding: 20px;
}

.btn-success {
  color: white;
  border: 1px solid white;
}

.btn-danger {
  color: white;
  border: 1px solid white;
}
